*{
	padding: 0px;
	margin: 0px;
}
#container{
	background-color: black;
	width: 650px;
	padding: 5px;
	margin:0px auto;
}
h1, p{
	color: white;
}
h1{
	margin:0px 0px 10px 10px; 
}
p{
	margin: 10px;
}
#images{
	margin: 0px 10px;
}
#images li img{
	width: 300px;
	border: 1px solid white;
	margin: 2px;
}
#images li{
	display: inline-block;
}
